.field {
    display: grid;
    grid-template-columns: repeat(16, 16px);
    margin-left: -2px;
}

button {
    height: 16px;
    font-size: 10px;
    background-image: url(../img/closed_cell.png);
    border: none;
    cursor: pointer;
}

.container {
    display: grid;
    grid-row-gap: 9.5px;
    justify-content: center;
    background-image: url(../img/minesweeper.png);
    background-repeat: no-repeat;
    background-position: center 5px;
    background-size: 51.2%;
    width: 500px;
    padding: 20px;

    transform: scale(1.9);
    margin: auto;
    margin-top: 250px;
}

.menu {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    justify-items: center;
    margin-top: -1px;
}

.smile {
    width: 26px;
    height: 26px;
    background-image: url('../img/smile.png');
}

/*Секундомер*/
.countdown {
    display: flex;
}

.countdown_item {
    width: 15px;
    height: 25px;
    position: 10px 10px;
}

/*Счётчик бомб*/
.bombCounter {
    display: flex;
}